@import "tailwindcss";

@theme {
  --color-primary: rgb(255, 255, 255); /* Light background color */
  --color-secondary: rgb(235, 235, 235); /* Slightly darker background shade */
  --color-accent: rgb(240, 240, 240); /* Medium gray accent color */
  --color-text: rgb(3, 6, 19); /* Charcoal dark color */
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-text);
  }
}

@layer components {
}

@layer utilities {
  .animate-light {
    animation: animate-light 2.5s ease-in-out infinite;
  }

  .splash-span {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }

  .splash-span.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  .splash-span.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }

  .nav-button {
    color: var(--color-text);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--color-text);
    background: var(--color-primary);
    box-shadow: 3px 3px var(--color-text);
    cursor: pointer;
  }

  .nav-button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  .container-background {
    width: 100%;
    height: 100%;
    --color: #e1e1e15a;
    background-color: var(--color-primary);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }

  .navbar-link {
    color: var(--color-text);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  .navbar-link:focus:after,
  .navbar-link:hover:after {
    width: 100%;
    left: 0%;
  }

  .navbar-link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: var(--color-text);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .logo-link {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  .logo-link::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: var(--color-primary);
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }

  .logo-link:hover::before {
    transform: scaleY(0);
  }

  .logo-link::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: var(--color-primary);
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.3s;
  }

  .logo-link:hover::after {
    transform: scaleX(0);
  }

  .logo-link span {
    position: relative;
    z-index: 3;
  }

  @keyframes animate-light {
    0% {
      left: -30%;
      opacity: 0;
      filter: blur(8px);
    }
    20% {
      opacity: 0.1;
      filter: blur(2px);
    }
    50% {
      opacity: 1;
      filter: blur(0px);
    }
    80% {
      opacity: 0.25;
      filter: blur(2px);
    }
    100% {
      left: 100%;
      opacity: 0;
      filter: blur(8px);
    }
  }
}
