@import "tailwindcss";

@theme {
  --color-primary: rgb(247, 247, 247); /* Light background color */
  --color-secondary: rgb(238, 238, 238); /* Slightly darker background shade */
  --color-accent: rgb(146, 154, 171); /* Medium gray accent color */
  --color-text: rgb(57, 62, 70); /* Charcoal dark color */
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-text);
  }
}

@layer components {
}

@layer utilities {
  .animate-light {
    animation: animate-light 2.5s ease-in-out infinite;
  }

  @keyframes animate-light {
    0% {
      left: -30%;
      opacity: 0;
      filter: blur(8px);
    }
    20% {
      opacity: 0.1;
      filter: blur(2px);
    }
    50% {
      opacity: 1;
      filter: blur(0px);
    }
    80% {
      opacity: 0.25;
      filter: blur(2px);
    }
    100% {
      left: 100%;
      opacity: 0;
      filter: blur(8px);
    }
  }
}
